body{
	overflow: hidden;
	margin:0;
	background:black;
	background-repeat: repeat-y, repeat-y;
    background-position: left, right;
    background-attachment: fixed, fixed;
	
}
html{
	
}
.videoSlide{
	z-index:9999;
}
.videoSlide2{
	z-index:9;
}
#content{
	position: relative;
	
}
.back{
	position: relative;
	z-index:1000;
	opacity:0.0;
	height: 100vh;
	width:20%;
	margin-bottom:-100vh;
	background: white;	
	
}
.back:hover{
	opacity:0.1;
	cursor:pointer;
}
video{
	
	
	backgroun:;
	
	height: 100vh;
}